*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
}
body{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a5cae8ba803bbf08cd2c793/1519906721308-FKHDETK5KVFPMBBJ7K1B/ke17ZwdGBToddI8pDm48kPqQfq0L3n3wpHIsRapTfg8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKczo5Zn4xktlpMsMj-QlHXeMfNK6GwvtVkYEWiR8XAPyD3GfLCe_DXOSC_YcAacWL_/DSC_6074-1200x800.jpg?format=2500w");
    background-size: cover;    
}
.container{
    height:100vh;
    width:100vw;
    justify-content: center;
}
.insert_names{
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    padding:40px;
    background-color: #CCCCCC;
}

.insert_names input, .insert_names button{
    margin:3px;
    padding:10px;
}

h1{
    margin-top: 5vh;;
    color: white;
    padding:10px;
    border-bottom: solid 1px grey;
}

.remove_panel{
    position: absolute;
    visibility: hidden;
}

.add_selection{
    opacity:1;
    animation: slideIn 1.5s ease ;
    visibility: visible;
}

@keyframes slideIn{
    0%{
        opacity:0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.results{
    margin-top:10vh;
    visibility: hidden;
}